<div class="">
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{title}}
        </h1>
      </div>
    </div>
  </section>
  <div class="tabs is-boxed centered">
    <ul>
      <li routerLinkActive="is-active">
        <a routerLink="/flights">
          <span class="icon is-large"><i class="fa fa-plane"></i></span>
          <span class="tab">Flights</span></a>
      </li>
      <li routerLinkActive="is-active">
        <a routerLink="/hotels">
          <span class="icon is-large"><i class="fa fa-hotel"></i></span>
          <span class="tab">Hotels</span>
        </a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
<!--<flight-search></flight-search>-->
