<div class="">
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          hello app
        </h1>
      </div>
    </div>
  </section>
  <div class="tabs is-boxed is-centered">
    <ul>
      <li routerLinkActive="is-active">
        <a routerLink="/search">
          <span class="icon is-large"><i class="fa fa-apartment"></i></span>
          <span class="tab">apartments</span></a>
      </li>
    </ul>
  </div>
  <h1>Hello</h1>
  <div class="container">
    <h1>Angular 2 + Google Maps Places Autocomplete</h1>
    <div class="form-group">
      <input type="text"  class="form-control"
             id="address" ngModel  name="address"
              [(ngModel)]="address" required />

      <button (click)="getXY(address)">Send</button>
    </div>
    <sebm-google-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      >

      <sebm-google-map-marker
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)">

        <sebm-google-map-info-window>
          <strong>InfoWindow content</strong>
        </sebm-google-map-info-window>

      </sebm-google-map-marker>

      <sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng"
                              [radius]="5000"
                              [fillColor]="'red'"
                              [circleDraggable]="true"
                              [editable]="true">
      </sebm-google-map-circle>

    </sebm-google-map>
  </div>
  <!--<sebm-google-map [latitude]="lat" [longitude]="lng">-->
    <!--<sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>-->
  <!--</sebm-google-map>-->
  <apartment-search></apartment-search>
  <search-result>  </search-result>
  <router-outlet></router-outlet>
</div>
<!--<flight-search></flight-search>-->
