<div class="">
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{title}}
        </h1>
      </div>
    </div>
  </section>
  <div class="tabs is-boxed is-centered">
    <ul>
      <li routerLinkActive="is-active">
        <a routerLink="/search">
          <span class="icon is-large"><i class="fa fa-apartment"></i></span>
          <span class="tab">apartments</span></a>
      </li>
    </ul>
  </div>
  <h1>Hello</h1>
  <sebm-google-map [latitude]="lat" [longitude]="lng">
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
  </sebm-google-map>
  <!--<apartment-search></apartment-search>-->
  <!--<search-result>  </search-result>-->
  <router-outlet></router-outlet>
</div>
<!--<flight-search></flight-search>-->
