<div class="container is-fluid ">
  <div class="row">
    <div class="field size">
      <label class="label" for="going-to"> Going To</label>
      <p class="control">
        <input class="input is-medium" type="text" placeholder="Destination, hotel name">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="field size">
      <label class="label" for="check-in">Check-in</label>
      <div class="field">
        <p class="control">
          <input class="input is-medium" type="date" placeholder="Medium input">
        </p>
      </div>
    </div>
    <div class="field size">
      <label class="label" for="check-out">Check-out</label>
      <div class="field">
        <p class="control">
          <input class="input is-medium" type="date" placeholder="Medium input">
        </p>
      </div>
    </div>
  </div>
</div>
